<h1 class="uk-heading-divider"><%= link_to "", admin_nutrition_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Alimentos <%= link_to 'Nuevo Alimento', new_admin_food_path, class:"uk-button uk-button-default uk-align-right" %></h1>

<div uk-grid>
    <div class="uk-width-expand@m">
      <table class="uk-table uk-table-divider uk-table-small uk-table-justify">
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= link_to '', [:admin, food], :"uk-icon" => "chevron-right", class: "uk-icon" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
