<%= link_to 'Home', authenticated_root_path %>
<h1>Nutrición</h1>
<p>Find me in app/views/dashboard/nutrition.html.erb</p>

<%= link_to 'Dietas', diets_path %> |
<%= link_to 'Alimentos', foods_path %> |
