<%= link_to 'Home', authenticated_root_path %> 
<h1>Fisico</h1>
<p>Find me in app/views/dashboard/physical.html.erb</p>

<%= link_to 'Evaluaciones Fisicas', evaluations_path %> |
<%= link_to 'Medidas Corporales', measurements_path %> |
<%= link_to 'Peso', weights_path %> |
