<%= link_to 'Home', authenticated_root_path %> 
<h1>Entrenamiento</h1>
<p>Find me in app/views/dashboard/physical.html.erb</p>

<%= link_to 'Workouts', workouts_path %> |
<%= link_to 'Lista de Ejercicios', exercises_path %> 
