<%- if controller_name != 'sessions' %>
  <div class="col-lg-12 text-center mt-5">
     ¿Recuerdas tus datos? <%= link_to "¡Entra!", new_session_path(resource_name), class: "text-danger" %><br />
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="col-lg-12 text-center mt-5">
    ¿Olvidaste la contraseña? <%= link_to "Recuperar", new_password_path(resource_name), class: "text-danger" %>
  </div>
<% end %>

