<h1>Meal Food</h1>

<%= link_to 'Back', diet_meal_meal_foods_path(@diet, @meal) %>

<p>
  <strong>Food:</strong>
  <%= @meal_food.food.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= "#{@meal_food.quantity} #{@meal_food.unit}" %>
</p>

<%= link_to 'Edit', edit_diet_meal_meal_food_path(@diet, @meal, @meal_food) %> |
