<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<%= link_to 'Users', admin_users_path %> |
<%= link_to 'Foods', admin_foods_path %> |
<%= link_to 'Exercises', admin_exercises_path %>
