<h1 class="uk-heading-divider uk-margin-small-left uk-margin-small-right"> Ejercicios<%= remote_icon_link(new_admin_exercise_path, "plus", {:class=>"uk-align-right uk-margin-small-top"}) %></h1>

<div class="uk-padding-small" uk-grid>
  <div class="uk-width-expand@s">
    <table class="uk-table uk-table-divider uk-table-small uk-table-justify">
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td><%= link_to '', [:admin, exercise], :"uk-icon" => "chevron-right", class: "uk-icon"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

