<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <%= link_to "Spartan", authenticated_root_path, class: "uk-navbar-item uk-logo" %>
            <ul class="uk-navbar-nav">...</ul>
            <div class="uk-navbar-item">...</div>
        </div>
    </nav>
</div>