<h1 class="uk-heading-divider"><%= link_to "", nutrition_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Alimentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del alimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= link_to 'Show', food %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>