<%= link_to 'Home', authenticated_root_path %> / <%= link_to 'Nutrición', nutrition_path %> |

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del alimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= link_to 'Show', food %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>