<div id="menu" class="uk-hidden@m canvas-menu" uk-offcanvas="overlay: true; mode: push">
    <div class="uk-offcanvas-bar">
        <div class="uk-logo uk-align-center">
            <%= image_tag "app/logo4.png" %>
        </div>
        <hr>
        <%= render "shared/navbars/navbar_left_content" %>
        <h3 class="uk-margin-remove-top uk-position-bottom-center">SPARTAN</h3> 
    </div>
</div>