.uk-navbar.head-navbar {
    border-bottom: 3px solid #c40000;
    box-shadow: 0px 0px 10px 0px #9c9c9c;
}

.uk-navbar-right a img {
    background: white;
    border: 4px solid #2d2d2d24;
    width: 3.4rem;
    height: 3.4rem;
}

.uk-navbar-left img {
    max-height: 3.4rem;
}

