<ul class="uk-nav uk-nav-default tm-nav">
    <li class="uk-nav-header"><%= link_to 'Administración', admin_authenticated_root_path %></li>
    <li class=""><%= link_to 'Usuarios', admin_users_path %></li>
    <li class=""><%= link_to 'Nutrición', admin_nutrition_path %></li>
    <li class=""><%= link_to 'Entrenamiento', admin_training_path %></li>
</ul>