<h1 class="uk-heading-divider">
    <%= link_to "", admin_users_path, :"uk-icon" => "chevron-left", class: "uk-icon" %>     
    Crear Usuario
    <input type="submit" form="admin_user_form" value="Guardar" data-disable-with="Guardando..." class="uk-button uk-button-default uk-align-right uk-visible@s">
</h1>
<%= render 'form', user: @user %>

<div class="uk-margin">
    <input type="submit" form="admin_user_form" value="Guardar" data-disable-with="Guardando..." class="uk-button uk-button-default uk-width-1-1 uk-hidden@s">
</div>
